.DS_Store
__pycache__
*.pyc
./random_forest_old.ipynb
data/est_hourly.paruqet
./random_forest.ipynb
data/energy-consumption.csv
data/hourly1418_energy_temp_PV.csv
__pycache__/*
eda.ipynb
random_forest_old.ipynb
random_forest.ipynb
